/lowkey-vault-example-dotnet.sln.DotSettings.user
/.idea/
/*/bin
/*/obj
/packages
/.gradle

/*/.idea/
/*/*/bin
/*/*/obj
/*/packages

lowkey-vault-example-dotnet.sln.DotSettings.user
.idea/
*/bin
*/obj
packages
lowkey.jar