version: "2"

services:
  lowkey-vault:
    container_name: lowkey-vault-dotnet
    image: nagyesta/lowkey-vault:7.0.3@sha256:d6c6eb3339c43e86d236a28dc657cb836c6e7ddaface61fbe85b9113e65777de
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      LOWKEY_ARGS: "--server.port=8443 --app.token.port=8080"
