name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      execution:
        description: 'Type of execution'
        required: true
        default: 'Manual'
        type: choice
        options:
          - Manual

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
    - name: Setup .NET
      uses: actions/setup-dotnet@c0d4ad69d8bd405d234f1c9166d383b7a4f69ed8 # tag=v2
      with:
        dotnet-version: 5.0.x
    - uses: nuget/setup-nuget@b2bc17b761a1d88cab755a776c7922eb26eefbfa # tag=v1
      with:
        nuget-version: '5.x'
    - run: nuget restore lowkey-vault-example-dotnet.sln
    - name: Download jar
      run: |
        curl https://repo1.maven.org/maven2/com/github/nagyesta/lowkey-vault/lowkey-vault-app/1.8.10/lowkey-vault-app-1.8.10.jar --output lowkey.jar
    - name: Set up JDK 11
      uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # tag=v3.4.1
      with:
        distribution: temurin
        java-version: 11
    - name: Build .NET Framework Project
      run: dotnet build dotnet-framework/lowkey-vault-example-dotnet.sln --no-restore
    - name: Test .NET Framework Project
      run:  |
        java -jar lowkey.jar &
        dotnet test dotnet-framework/lowkey-vault-example-dotnet.sln --no-build --verbosity normal
        Stop-Job -Name "Job1"
    - name: Build .NET Core project
      run: dotnet build dotnet-core/lowkey-vault-example-dotnet-core.sln --no-restore
    - name: Test .NET Core Project
      run:  |
        java -jar lowkey.jar &
        dotnet test dotnet-framework/lowkey-vault-example-dotnet-core.sln --no-build --verbosity normal
        Stop-Job -Name "Job1"
