name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      execution:
        description: 'Type of execution'
        required: true
        default: 'Manual'
        type: choice
        options:
          - Manual

jobs:
  build:
    strategy:
      matrix:
        module: [ core, framework ]
        include:
          - module: core
            name: .Net Core
            solution: dotnet-core/lowkey-vault-example-dotnet-core.sln
          - module: framework
            name: .Net Framework
            solution: dotnet-framework/lowkey-vault-example-dotnet.sln
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: 8.0.x
    - name: Setup NuGet
      uses: nuget/setup-nuget@323ab0502cd38fdc493335025a96c8fdb0edc71f # v2
      with:
        nuget-version: '6.x'
    - name: NuGet Restore ${{ matrix.name }} project
      run: nuget restore ${{ matrix.solution }}
    - name: Set up JDK 25
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: temurin
        java-version: 25
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
    - name: Download Lowkey Vault jar
      run: ./gradlew clean download
    - name: Build ${{ matrix.name }} Project
      run: dotnet build ${{ matrix.solution }} --no-restore
    - name: Test ${{ matrix.name }} Project
      run:  |
        java -jar lowkey.jar &
        Start-Sleep -s 10
        dotnet test ${{ matrix.solution }} --no-build --verbosity normal
        Stop-Job -Name "Job1"
