name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      execution:
        description: 'Type of execution'
        required: true
        default: 'Manual'
        type: choice
        options:
          - Manual

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 5.0.x
    - uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.x'
    - run: nuget restore lowkey-vault-example-dotnet.sln
    - name: Download jar
      run: |
        curl https://repo1.maven.org/maven2/com/github/nagyesta/lowkey-vault/lowkey-vault-app/1.4.1/lowkey-vault-app-1.4.1.jar --output lowkey.jar
    - name: Set up JDK 11
      uses: actions/setup-java@v2.5.0
      with:
        distribution: temurin
        java-version: 11
    - name: Build
      run: dotnet build --no-restore
    - name: Start Jar
      run: java -jar lowkey.jar &
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Stop Jar
      if: always()
      run: taskkill /IM "java.exe" /F
